exp-api-webapp/target/META-INF/mule-src/exp-api-webapp/src/main/mule/GetSchedulesImplementationFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="GetSchedulesImplementationFlowFlow" doc:id="c02b7135-db32-4772-829b-ce3171657667" >
		<http:request method="GET" doc:name="Request" doc:id="1363bc0f-87f9-49e0-b547-10be484f36ef" url='http://localhost:8085/api/booking/bus/schedules?companyName=TravelOnTip'>
			<http:query-params ><![CDATA[#[output application/json
---
{
	departureLocation : "jhdjwdjed"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="748a2150-5675-4fce-b347-4a186b8c8dfd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
