exp-api-webapp/src/main/mule/GetRoutesImplementationFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="GetRoutesImplementationFlowFlow" doc:id="f3b847a4-5751-4351-974a-34658626ece6" >
		<http:request method="GET" doc:name="Request" doc:id="1b22bd41-e440-41ad-a8b6-2a9b43c4d176" url='http://localhost:8085/api/booking/bus/Routes?companyName=TravelOnTip'>
			<http:query-params ><![CDATA[#[output application/json
---
{
	departureLocation : "jhdjsdhef"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="209e99a5-f9e3-4fa1-a48d-ca0b1a8f2a1b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
